[MASTER]
init-hook="import sys; sys.path.append('./src')"
ignore-paths=^tests/test_data/.*$

[DESIGN]
max-line-length=120
max-attributes=15
max-args=12
max-positional-arguments=12
max-locals=23
max-public-methods=60
max-branches=25
max-statements=74